<template lang="pug">
    form(class="auth" @submit.prevent="" @keydown.prevent.enter="submit")

      h3(:class="$route.params.authAction === 'signin' ? 'title' : 'title title-mb'") {{ getTitle() }}
      
      p(class="paragraph" v-if="$route.params.authAction === 'signin'")
        span Or 
        router-link(to="../auth/signup") create account
          
      div.container
        label(class="label" for="email" required) Email
        input(class="input" type="email" id="email" ref="email" v-model="user.email" placeholder="example@mail.com")

      div.container
        label(class="label" for="password" required) Password
        input(class="input" type="password" id="password" ref="password" v-model="user.password" placeholder='********')

      p(v-if="authError || validateError" class="error-text") {{ authError || validateError }}


      button(v-anim-click class="button" @click="submit") {{ getButtonText() }}

      button(
        class="google-button"
        aria-label="Google authorization"
        @click="$store.dispatch('SIGN_IN_WITH_GOOGLE')") {{getGoogleText()}}
        span.google
</template>

<script>
export default {
  data() {
    return {
      user: { email: "", password: "" },
      validateError: ""
    };
  },

  computed: {
    authError() {
      return this.$store.getters.authError;
    },

    done() {
      return this.$store.getters.done;
    }
  },

  methods: {
    getTitle() {
      if (this.$route.params.authAction === "signin") {
        return "Log in";
      }

      return "Registration";
    },

    getButtonText() {
      if (this.$route.params.authAction === "signin") {
        return "Enter";
      }

      return "Create new account";
    },

    getGoogleText() {
      if (this.$route.params.authAction === "signin") {
        return "Sign in with Google";
      }

      return "Create account with Google";
    },

    validate() {
      const passwordInput = this.$refs.password,
        emailInput = this.$refs.email;

      if (!this.user.email) {
        this.validateError = "Please enter your email.";
        emailInput.classList.add("error");
        emailInput.focus();

        //Exit if data invalid
        return false;
      } else {
        this.$refs.email.classList.remove("error");
      }

      if (!this.user.password) {
        this.validateError = "Please enter your password.";
        passwordInput.classList.add("error");
        passwordInput.focus();
        this.user.password = "";

        //Exit if data invalid
        return false;
      } else {
        this.$refs.password.classList.remove("error");
      }

      if (this.user.password && this.user.password.length < 6) {
        this.validateError = "Your password is less than six symbols.";
        this.$refs.password.classList.add("error");
        passwordInput.focus();
        this.user.password = "";

        //Exit if data invalid
        return false;
      } else {
        this.$refs.password.classList.remove("error");
      }

      return true;
    },

    submit() {
      if (this.validate()) {
        if (this.$route.params.authAction === "signup") {
          this.$store.dispatch("SIGN_UP", this.user);
        } else {
          this.$store.dispatch("SIGN_IN", this.user);
        }
      }
    }
  },

  mounted() {
    this.$store.dispatch("CLEAN_AUTH_ERROR");
  },

  watch: {
    done(newDone) {
      if (newDone) {
        this.validateError = "";
        this.$router.push("/");
      }
    }
  }
};
</script>

<style lang="less" scoped>
.auth {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 110px;

  @media (max-width: @tablet) {
    grid-column-start: 1;
    padding: 110px 40px 0 40px;
  }

  @media (max-width: @smallPhone) {
    padding: 50px 20px 0 20px;
  }
}

.title {
  margin-bottom: 10px;
  font-size: 38px;
  color: @textColor;

  &-mb {
    margin-bottom: 50px;
  }
}

.paragraph {
  margin-bottom: 45px;
  font-size: 21px;

  span {
    color: hsla(0, 0%, 0%, 0.6);
  }

  a {
    color: #298fca;
    text-decoration: underline;

    &:hover {
      color: darken(#298fca, 10%);
    }
  }
}

.container {
  display: flex;
  flex-direction: column;

  &:first-of-type {
    margin-bottom: 40px;
  }

  &:last-of-type {
    margin-bottom: 30px;
  }
}

.label {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 32px;
  color: @textColor;
}

.input {
  height: 45px;
  box-sizing: border-box;
  border: 1px solid #cdd2d4;
  background: #edeff0;
  border-radius: 3px;
  text-indent: 12px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);

  &:hover {
    background: darken(#edeff0, 1.5%);
    border-color: darken(#cdd2d4, 2%);
  }

  &:focus {
    background: darken(#edeff0, 3.5%);
    border-color: darken(#cdd2d4, 5%);
  }

  &:not(:placeholder-shown) {
    color: rgba(0, 0, 0, 0.8);
  }
}

.button {
  width: 100%;
  height: 57px;
  background: linear-gradient(270deg, #61bd4f 0%, #5aac44 100%);
  border-radius: 3px;
  font-weight: bold;
  font-size: 32px;
  color: #ffffff;

  &:hover {
    background: linear-gradient(
      270deg,
      darken(#61bd4f, 5%) 0%,
      darken(#5aac44, 5%) 100%
    );
  }
}

.google-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  width: 100%;
  height: 57px;
  font-size: 32px;
  font-weight: bold;
  border-radius: 3px;
  color: hsla(0, 0%, 0%, 0.6);
  background: #edeff0;
  border: 1px solid #cdd2d4;

  @media (max-width: @smallPhone) {
    font-size: 21px;
  }

  &:hover {
    background: darken(#edeff0, 5%);
  }
}

.google {
  display: inline-block;
  margin-left: 10px;
  width: 35px;
  height: 35px;
  background: url("../assets/images/Google.svg") no-repeat center;
  background-size: 100%;
  opacity: 0.9;
}

.error-text {
  font-size: 21px;
  color: #ee3d3d;
  margin-bottom: 35px;
}

.error {
  box-shadow: 0 0 5px 0 #ee3d3d;
}
</style>
