<template lang="pug">
    div.record
      button(class="go-back" aria-label="Go back" @click="$router.push('/')")
        span(class="go-back__line" aria-hidden="true")
        span(class="go-back__line" aria-hidden="true")
        span(class="go-back__line" aria-hidden="true")
      fieldset
          legend.title New record

          button(v-anim-click class="button" tabindex="0" @click="changeType('income')" ref="income") Income

          button(v-anim-click class="button active" tabindex="0" @click="changeType('expenses')" ref="expenses") Expenses

      fieldset
        div.container
            span(class="sub-title")
              legend Choose categorie            
            label(
              v-for="(categorie , i) in categories[type]" 
              :key="i"  
              class="icon"
              :title="`Choose ${categorie}`"
              @click="selectedCategorie = categorie"
              :style="{backgroundImage: getImagePath(categorie)}"
              v-anim-click
              )
              input(class="input" 
                tabindex="0"
                type="radio" name="categorie" 
                :aria-label="categorie" 
                :value="categorie" 
              )
      div 
        span.submit-info Type: {{type}}
        span(class="submit-info" ref='categories') Categorie: {{selectedCategorie}}
          
      div.input-container
        input(ref="input" class="text-field" placeholder="Enter the amount" v-model="currentValue")
        button(v-anim-click class="button-green" aria-label="Submit data" @click="submitData") Submit
</template>

<script>
import categories from "@/assets/Categories.js";

export default {
  data() {
    return {
      categories,
      type: "expenses",
      selectedCategorie: "None",
      currentValue: ""
    };
  },

  methods: {
    validate() {
      if (this.selectedCategorie === "None") {
        this.$refs.categories.classList.add("error");
        return false;
      }

      if (this.currentValue <= 0 || this.currentValue === "") {
        let input = this.$refs.input;

        input.focus();
        input.classList.add("error");
        input.value = "";
        input.placeholder = "PLeace enter valid data";
        input.oninput = () => input.classList.remove("error");
        return false;
      }

      return true;
    },

    submitData() {
      if (this.validate()) {
        const dataToSubmit = {
          type: this.type,
          category: this.selectedCategorie,
          value: this.currentValue,
          uid: this.$store.getters.uid
        };

        this.$store.dispatch("ADD_DATA", dataToSubmit);
      }
    },

    changeType(type) {
      this.$refs.income.classList.toggle("active");
      this.$refs.expenses.classList.toggle("active");

      this.type = type;
      this.selectedCategorie = "None";
      this.currentValue = "";
    },

    getImagePath(image) {
      const pathToImage = require(`../assets/images/icons/${image}.svg`);

      return `url(${pathToImage})`;
    }
  },

  watch: {
    selectedCategorie() {
      this.$refs.categories.classList.remove("error");
    }
  }
};
</script>

<style scoped lang="less">
.record {
  display: flex;
  flex-direction: column;
  padding: 110px 25px 0 25px;
  text-align: center;
  grid-column-start: 2;
  grid-row: 2;

  @media (max-width: @tablet) {
    grid-column-start: 1;
    grid-column-end: 4;
  }

  @media (max-width: @smallPhone) {
    padding: 50px 20px 0 20px;
  }
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(60px, 1fr));
  grid-row-gap: 15px;
  grid-column-gap: 15px;
  margin: 45px 0;
}

.title {
  margin: 0 auto 25px auto;
  text-align: center;
  font-size: 38px;
  font-weight: bold;
  color: @textColor;

  @media (max-width: @extraSmallPhone) {
    font-size: 26px;
  }
}

.sub-title {
  grid-column-start: 1;
  grid-column-end: -1;
  align-self: center;
  font-size: 28px;
  color: @textColor;
}

.button {
  width: 40%;
  font-size: 26px;
  height: 50px;
  background: #e2e4e6;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-weight: 600;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;

  @media (max-width: @phone) {
    width: 100%;

    &:first-of-type {
      margin-bottom: 15px;
    }
  }

  @media (max-width: @smallPhone) {
    height: 35px;
    font-size: 21px;
    margin: 0 auto;
  }

  &:focus {
    .focus;
  }

  &:first-of-type {
    margin-right: 15px;
  }
}

.icon {
  width: 55px;
  height: 55px;
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: 0.4s;
  margin: 15px auto;

  @media (max-width: @phone) {
    margin: 5px auto;
  }
}

.input {
  appearance: none;
  &:focus + div,
  &:checked + div {
    .focus;
  }
}

.input-container {
  display: flex;
  align-items: center;
  margin-top: 25px;

  @media (max-width: @phone) {
    flex-wrap: wrap;
  }
}

.text-field {
  width: 90%;
  text-indent: 10px;
  margin-right: 15px;
  height: 50px;
  box-sizing: border-box;
  border: 1px solid #cdd2d4;
  background: #edeff0;
  border-radius: 3px;
  text-indent: 12px;
  font-weight: bold;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.4);

  @media (max-width: @phone) {
    width: 100%;
    margin-right: 0;
    margin-bottom: 15px;
  }

  &:hover {
    background: darken(#edeff0, 1.5%);
    border-color: darken(#cdd2d4, 2%);
  }

  &:focus {
    background: darken(#edeff0, 3.5%);
    border-color: darken(#cdd2d4, 5%);
  }

  &:not(:placeholder-shown) {
    color: rgba(0, 0, 0, 0.8);
  }
}

.button-green {
  background: linear-gradient(270deg, #61bd4f 0%, #5aac44 100%);
  border-radius: 3px;
  height: 50px;
  font-weight: bold;
  color: #ffffff;
  font-size: 32px;
  padding: 0 55px;
  line-height: 45px;

  @media (max-width: @phone) {
    width: 100%;
  }
}

.submit-info {
  font-size: 21px;
  font-weight: 600;
  color: @textColor;

  &:first-child {
    margin-right: 25px;
    margin-bottom: 25px;
  }

  @media (max-width: @extraSmallPhone) {
    display: block;
    width: 100%;
    font-size: 18px;
  }
}
.error {
  border-color: @errorColor;
  color: @errorColor;
}

.active {
  background: #1d8cce;
  box-shadow: 0 2px 0 hsla(202, 75%, 46%, 0.3);
  color: #ffffff;
}
</style>