<template lang="pug">
div.statistics
  GChart(class="chart" type="PieChart" :data="chartData" :options="options")

  div.container
    button(v-anim-click class="button" tabindex="0" @click="changeType('income')" ref="income") Income

    button(v-anim-click class="button active" tabindex="0" @click="changeType('expenses')" ref="expenses") Expenses

  table(class="table" key="isDataGot")
    tr
      th names
      th value
    //-Slice heading of table
    tr(v-for="chartDataItem in chartData.slice(1, chartData.length)")
      td {{ chartDataItem[0] }}
      td {{ chartDataItem[1] + '%' }}
</template> 

<script>
import { GChart } from "vue-google-charts";

export default {
  name: "Statistics",

  data() {
    return {
      chartData: [["names", "value"]],
      currentType: "expenses",
      options: {
        fontSize: 18,
        pieHole: 0.4,
        chartArea: { height: "90%", width: "90%" },
        legend: { position: "none" }
      }
    };
  },

  components: { GChart },

  computed: {
    data() {
      const date = this.currentDate,
        data = this.$store.getters.data;

      return data ? data[date.year][date.month] : {};
    },

    currentDate() {
      return this.$store.getters.date;
    }
  },

  methods: {
    setPercents() {
      const sumOfAllOperations = this.getSumOfData();
      const currentData = sumOfAllOperations[this.currentType];

      for (const categoryName in currentData.operationsSum) {
        if (currentData.operationsSum.hasOwnProperty(categoryName)) {
          const onePercent = currentData.total / 100;

          const elementStake = (
            currentData.operationsSum[categoryName] / onePercent
          ).toFixed(1);

          this.chartData.push([categoryName, +elementStake]);
        }
      }
    },

    getSumOfData() {
      let sumOfAllOperations = {
        income: {
          total: 0,
          operationsSum: {}
        },
        expenses: {
          total: 0,
          operationsSum: {}
        }
      };

      //Calc sum of all operations
      for (const key in this.data) {
        for (let i = 0; i < this.data[key].length; i++) {
          const element = this.data[key][i];

          const operations =
            sumOfAllOperations[element.type.toLowerCase()].operationsSum;

          if (operations.hasOwnProperty(element.category)) {
            operations[element.category] += parseInt(element.value);
          } else {
            operations[element.category] = parseInt(element.value);
          }

          sumOfAllOperations[element.type.toLowerCase()].total += parseInt(
            element.value
          );
        }
      }

      return sumOfAllOperations;
    },

    changeType(type) {
      this.$refs.income.classList.toggle("active");
      this.$refs.expenses.classList.toggle("active");

      this.currentType = type;
      this.selectedCategorie = "None";
      this.currentValue = "";
    }
  },

  watch: {
    data() {
      //Reset old data
      this.chartData = [["names", "value"]];
      this.setPercents();
    },

    currentType() {
      //Reset old data
      this.chartData = [["names", "value"]];
      this.setPercents();
    }
  },

  created() {
    this.setPercents();
  }
};
</script>

 <style lang="less" scoped>
.statistics {
  grid-column-start: 2;
  padding-top: 110px;

  @media (max-width: @tablet) {
    grid-column-start: 1;
    padding: 50px 20px 0 20px;
  }
}

.chart {
  height: 350px;
}

.table {
  margin-top: 35px;
  width: 100%;
  font-size: 21px;
  text-transform: capitalize;
  color: @textColor;
}

tr {
  border: 1px solid #c8cdcf;

  &:first-child {
    background: #e9ebed;
  }
}

td,
th {
  font-weight: 600;
  padding: 5px;
  border-right: 1px solid #c8cdcf;

  &:last-child {
    border-right: none;
  }
}
.title-container {
  grid-column-start: 2;
  padding-top: 110px;

  @media (max-width: @tablet) {
    grid-column-start: 1;
    padding-top: 50px;
  }
}
.title {
  font-size: 68px;
  color: @textColor;
  text-align: center;

  @media (max-width: @phone) {
    font-size: 36px;
  }
}

.container {
  display: flex;
  justify-content: space-between;

  @media (max-width: @phone) {
    flex-wrap: wrap;
  }
}

.button {
  width: 45%;
  font-size: 26px;
  height: 50px;
  background: #e2e4e6;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-weight: 600;
  font-size: 32px;
  color: rgba(0, 0, 0, 0.6);
  text-align: center;

  @media (max-width: @phone) {
    width: 100%;
    margin-right: 0;

    &:first-of-type {
      margin-bottom: 15px;
    }
  }

  @media (max-width: @smallPhone) {
    height: 35px;
    font-size: 21px;
    margin: 0 auto;
  }

  &:focus {
    .focus;
  }
}

.active {
  background: #1d8cce;
  box-shadow: 0 2px 0 hsla(202, 75%, 46%, 0.3);
  color: #ffffff;
}
</style>