<template lang="pug">
main(class="budget-timeline" v-if="isAuth")
  time-line-head(:data="data" v-if="isDataGot")    

  //-Placeholder
  transition(tag="div" name="fadePlaceholder")

   content-loader(
      v-if="!isDataGot"
      class="placeholder"
      :height="180"
      :primaryColor="contentPlaceholderParams.primaryColor"
      :secondaryColor="contentPlaceholderParams.secondaryColor"
      :width="contentPlaceholderParams.width"
      :speed="2")
      rect(rx="3" ry="3" :width="contentPlaceholderParams.width" height="170")

  div.reverse
    time-line-block(
      v-for="(value, key, index) in data" 
      :key="index"
      :date="getDateForBlock(key)"
      :currentData="value"
      v-if="isDataGot && isAuth && data")

    h2(v-if="isDataGot && isAuth && data.length < 1" class="no-data-title") No data to display...

    //-Placeholder
    transition-group(tag="div" name="fadePlaceholder")
      content-loader(
        v-if="!isDataGot"
        v-for="index in contentPlaceholderParams.count"
        :key="index"
        class="placeholder"
        :height="180"
        :width="contentPlaceholderParams.width"
        :primaryColor="contentPlaceholderParams.primaryColor"
        :secondaryColor="contentPlaceholderParams.secondaryColor"
        :speed="2")
        rect(rx="3" ry="3" :width="contentPlaceholderParams.width" height="170")

//- If user is unathorized
div(v-else class="auth-text-block")
  svg(class="auth-text-icon" xmlns="http://www.w3.org/2000/svg" width="95" height="95")
    path(d="M39 72l40-22a2 2 0 0 0 0-4L39 23a2 2 0 0 0-3 2v11H2l-2 2v20l2 2h34v11a2 2 0 0 0 3 1z")
    path(d="M81 0H40l-2 2v6l2 2h41c2 0 5 2 5 5v66c0 3-3 5-5 5H40l-2 2v6l2 2h41c8 0 15-7 15-15V15c0-8-7-15-15-15z")

  h2.auth-title Please Sign In or Sign Up 
</template>

<script>
import { ContentLoader } from "vue-content-loader";

export default {
  props: {
    isDataGot: Boolean
  },

  computed: {
    data() {
      const date = this.dispayedDate,
        data = this.$store.getters.data;
      if (data) {
        return data[date.year][date.month];
      } else {
        return {};
      }
    },

    isAuth() {
      return this.$store.getters.isAuth;
    },

    dispayedDate() {
      return this.$store.getters.date;
    },

    contentPlaceholderParams() {
      let screenWidth = window.innerWidth;
      let params = {};

      if (screenWidth <= 992) {
        params.width = screenWidth - 40;
        params.count = 1;
      } else {
        params.width = screenWidth / 2;
        params.count = 2;
      }

      return params;
    }
  },

  methods: {
    getDateForBlock(day) {
      //Format date to bind with date input
      const date = this.dispayedDate;
      return `${date.year}-${date.month < 10 ? "0" : ""}${date.month}-${
        day < 10 ? "0" : ""
      }${day}`;
    }
  },

  components: {
    TimeLineHead: () => import("@/components/TimelineHead.vue"),
    TimeLineBlock: () => import("@/components/TimeLineBlock.vue"),
    ContentLoader
  }
};
</script>

<style lang="less" scoped>
.budget-timeline {
  grid-column-start: 2;
  grid-row-start: 2;
  width: 100%;
  padding: 110px 20px 0 20px;

  @media (max-width: @tablet) {
    margin-top: 50px;
    grid-column-start: 1;
  }

  @media (max-width: @smallPhone) {
    padding: 50px 20px 0 20px;
  }

  @media (max-width: @extraSmallPhone) {
    padding: 30px 10px;
  }
}

.placeholder {
  margin-top: 25px;
  height: 160px;
  width: 100%;
}

.reverse {
  display: flex;
  flex-direction: column-reverse;
}

.auth-text-icon {
  fill: fade(@textColor, 80%);
  margin: 0 auto 35px auto;
}

.auth-text-block {
  display: flex;
  flex-direction: column;
  grid-column-start: 2;
  margin-top: 50px;

  @media (max-width: @tablet) {
    grid-column-start: 1;
  }

  @media (max-width: @bigPhone) {
    padding: 50px 40px 0 40px;
  }

  @media (max-width: @smallPhone) {
    padding: 50px 20px 0 20px;
  }
}

.auth-title {
  color: fade(@textColor, 80%);
  font-weight: normal;
  text-align: center;
  font-size: 38px;

  @media (max-width: @tablet) {
    font-size: 32px;
  }

  @media (max-width: @smallPhone) {
    font-size: 24px;
  }
}

.no-data-title {
  margin-top: 50px;
  color: fade(@textColor, 60%);
  font-weight: normal;
  text-align: center;
  font-size: 38px;

  @media (max-width: @tablet) {
    font-size: 32px;
  }

  @media (max-width: @smallPhone) {
    font-size: 24px;
  }
}

.fadePlaceholder-enter,
.fadePlaceholder-enter-active {
  animation: fadeIn 0.2s;
}
.fadePlaceholder-leave,
.fadePlaceholder-leave-active {
  animation: fadeOut 0.2s;
}
</style>
