<template lang="pug">
div(class="transaction" v-if="!transactionError" key='ifFound')
    h2.title Change transaction

    label(class="sub-title") Date.
        input(type="date" class="input" v-model="newData.date" ref="dataInput")

    label.sub-title Type of transaction.
        select(class="select input" v-model="newData.type")
            option {{ $route.params.type }}
            option {{ $route.params.type == 'expenses' ? 'Income' : 'Expenses'}}

    label.sub-title Category of transaction.
        select(class="select input" v-model="newData.category")
            option(selected) {{ $route.params.category }}
            option(v-for="(category , i) in categories" :key="i") {{ category }}

    label.sub-title Amount value.
        input(type="number" min="0" class="input" v-model="newData.value" ref="valueInput")

    button(class="button green" @click="changeData") Change
    button(class="button red" @click="removeData($route.params.id)") remove
div(class="not-found" v-else) {{transactionError}}
</template>

<script>
import categories from "../assets/Categories.js";
import firebase from "firebase/app";
import "firebase/database";

export default {
  name: "Transaction",

  data() {
    return {
      urlData: {
        category: null,
        id: null,
        type: null,
        value: null
      },
      newData: null,
      date: null,
      transactionError: null
    };
  },

  computed: {
    data() {
      return this.$store.getters.data;
    },

    categories() {
      return categories[this.$route.params.type.toLowerCase()];
    }
  },

  methods: {
    validate() {
      if (this.newData.date === "") {
        const dataInput = this.$refs.dataInput;
        dataInput.focus();
        dataInput.classList.add("error");
        dataInput.onchange = () => dataInput.classList.remove("error");
        return false;
      }

      if (parseInt(this.newData.value) <= 0 || this.newData.value === "") {
        const valueInput = this.$refs.valueInput;
        valueInput.focus();
        valueInput.classList.add("error");
        valueInput.value = "";
        valueInput.placeholder = "Invalid Data";
        valueInput.oninput = () => valueInput.classList.remove("error");
        return false;
      }

      return true;
    },

    changeData() {
      if (this.validate()) {
        const newDate = new Date(this.newData.date);
        const oldDate = new Date(this.date);
        const id = this.urlData.id;

        const newData = this.data[oldDate.getFullYear()][
          oldDate.getMonth() + 1
        ][oldDate.getDate()];

        newData[id] = this.newData;

        if (this.newData.date !== this.date) {
          this.updateData({
            date: newDate,
            newData: [newData[id]],
            isNewDate: true
          });
          this.removeData(id);
        } else {
          this.updateData({ date: newDate, newData });
        }
      }
    },

    removeData(id) {
      const oldDate = new Date(this.date);
      let newData = this.data[oldDate.getFullYear()][oldDate.getMonth() + 1][
        oldDate.getDate()
      ];

      newData.splice(id, 1);

      if (newData.length > 1) {
        for (let i = 0; i < newData.length; i++) {
          newData[i].id = i;
        }
      } else {
        newData[0].id = 0;
      }

      this.updateData({ date: oldDate, newData });
    },

    async updateData(params) {
      const date = {
        year: params.date.getFullYear(),
        month: params.date.getMonth() + 1,
        day: params.date.getDate()
      };
      const uid = this.$store.getters.uid;
      const databasePath = `${uid}/${date.year}/${date.month}/${date.day}`;

      let newData = params.newData;

      //Check if data is exist in point to move
      await firebase
        .database()
        .ref(databasePath)
        .once("value")
        .then(snapshot => {
          if (params.isNewDate && snapshot.val()) {
            newData = snapshot.val().concat(newData);
          }
        })
        .catch(error => console.error(error));

      firebase
        .database()
        .ref(databasePath)
        .set(newData)
        .catch(error => console.error(error));

      this.$store.dispatch("UPDATE_DATA");
      this.$router.push("/");
    }
  },

  created() {
    //Set not reactive data
    this.urlData.category = this.$route.params.category;
    this.urlData.value = this.$route.params.value;
    this.urlData.type = this.$route.params.type;
    this.date = this.$route.params.date;
    this.urlData.id = this.$route.params.id;
    const uid = this.$store.getters.uid;

    this.newData = this.$route.params;

    //If data is exist
    const date = new Date(this.date);

    const requestedData = this.data[date.getFullYear()][date.getMonth() + 1][
      date.getDate()
    ][this.urlData.id];

    if (JSON.stringify(this.urlData) != JSON.stringify(requestedData)) {
      this.transactionError = "Transaction not found.";
    } else {
      this.transactionError = null;
    }
  }
};
</script>

<style lang="less" scoped>
.transaction {
  display: flex;
  flex-direction: column;
  grid-row-start: 2;
  grid-column-start: 2;
  padding-top: 110px;

  @media (max-width: @tablet) {
    grid-column-start: 1;
    padding: 110px 40px 0 40px;
  }

  @media (max-width: @smallPhone) {
    padding: 110px 20px 0 20px;
  }
}

.title {
  margin-bottom: 45px;
  font-size: 48px;
  color: @textColor;

  @media (max-width: @phone) {
    font-size: 38px;
  }
}

option {
  text-transform: capitalize;
}

.sub-title {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 15px;
  font-size: 28px;
  color: @textColor;
  font-weight: 600;

  @media (max-width: @bigPhone) {
    font-size: 21px;
  }

  @media (max-width: @phone) {
    font-size: 18px;
  }

  @media (max-width: @smallPhone) {
    flex-direction: column;
    width: 100%;
    padding: 0 10px;
    font-size: 14px !скемнебывает;
  }
}

.select {
  font-family: inherit;
}

.input {
  font-size: 14px;
  box-sizing: border-box;
  padding: 5px 10px;
  width: 140px;
  height: 35px;
  border: 1px solid #cdd2d4;
  background: #edeff0;
  border-radius: 3px;
  color: @textColor;
  font-weight: 600;
  appearance: none;

  @media (max-width: @smallPhone) {
    width: 100%;
    margin-top: 15px;
  }
}

input[type="number"] {
  appearance: textfield;
  margin: 0;
}

.button {
  margin-top: 35px;
  height: 50px;
  padding: 0 55px;
  border-radius: 3px;
  font-size: 32px;
  font-weight: bold;
  color: #ffffff;
  line-height: 45px;

  &:focus {
    .focus;
  }

  @media (max-width: @smallPhone) {
    width: 100%;
  }
}

.green {
  background: linear-gradient(270deg, #61bd4f 0%, #5aac44 100%);
}

.red {
  background: #fe5d5d;
}

.not-found {
  color: tomato;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  grid-column-start: 2;
  padding-top: 110px;

  @media (max-width: @tablet) {
    grid-column-start: 1;
  }

  @media (max-width: @phone) {
    padding-top: 50px;
    font-size: 26px;
  }
}
.error {
  border-color: @errorColor;
  color: @errorColor;
}
</style>
