<template lang="pug">
  header.header
    div.container
      router-link(to="/" class="nav-link") 
        span(v-if="getScreenWidth() >= 430" key="home-text") Home
        div(v-else class="icon home" key="home-icon")
        
      router-link(to="/statistics" class="nav-link") 
        span(v-if="getScreenWidth() >= 430" key="chart") Statistics
        div(v-else class="icon chart" key="chart-icon")

      header-user-area(@onSignIn="$emit('onSignIn')" @onSignUp="$emit('onSignUp')")
      
      button(v-if="isAuth" class="button button-arrow" @click="toggleMenu" title="Open menu" tabindex="0") {{ months[currentMonth] }}
        span.arrow &#11206
      header-menu(v-if="isAuth" :showMenu="showMenu" :currentMonth="currentMonth" :months="months" @changeMonth="changeMonth")
</template>

<script>
export default {
  data() {
    return {
      showMenu: false,
      months: [
        "Jan",
        "Feb",
        "Mar",
        "Apr",
        "May",
        "Jun",
        "jul",
        "Aug",
        "Sep",
        "Oct",
        "Nov",
        "Dec"
      ]
    };
  },

  computed: {
    currentMonth() {
      // 1 is subtracted here because it is used as an index
      return this.$store.getters.date.month - 1;
    },

    isAuth() {
      return this.$store.getters.isAuth;
    }
  },

  components: {
    HeaderMenu: () => import("@/components/HeaderMenu.vue"),
    HeaderUserArea: () => import("@/components/HeaderUserArea.vue")
  },

  methods: {
    toggleMenu() {
      this.showMenu = !this.showMenu;
    },

    getScreenWidth() {
      return window.innerWidth;
    },

    changeMonth(newDate) {
      this.showMenu = !this.showMenu;

      this.$store.commit("SET_DATE", {
        month: newDate.month,
        year: newDate.year
      });

      this.$store.dispatch("UPDATE_DATA");
    }
  }
};
</script>

<style lang="less" scoped>
.header {
  height: 100%;
  background: @mainBlue;
  grid-column-start: 1;
  grid-column-end: 4;
}

.container {
  .wrapper;
  position: relative;
  display: flex;
  align-items: center;
}

.button {
  transition: 0.3s;
  color: @white;
  font-size: 21px;
  margin-left: 25px;

  @media (max-width: @smallPhone) {
    font-size: 14px;
    margin-left: 15px;
  }

  &:focus {
    .focus;
  }
}

.arrow {
  margin-left: 5px;
  font-size: 14px;

  @media (max-width: @smallPhone) {
    font-size: 8px;
  }
}

.nav-link {
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
  padding: 5px;
  border-radius: 3px;

  &:last-child {
    padding-right: 0;
  }

  &:hover {
    background: hsla(0, 0%, 100%, 0.15);
  }

  &:focus {
    .focus;
  }
}

.icon {
  width: 30px;
  height: 30px;
  background-size: 100%;
}

.home {
  background-image: url("../assets/images/home.svg");
}

.chart {
  background-image: url("../assets/images/chart.svg");
}
</style>