<template lang="pug">
    transition(name="buttonFade")
      router-link(v-if="showButton" tag="button" to="/record" class="button" aria-label="Add new record" ref="button") +
</template> 

<script>
export default {
  mounted() {
    if (this.showButton) {
      //Hide button on mobile while scrolling
      const button = this.$refs.button.$el;

      window.addEventListener("touchstart", () => (button.style.opacity = 0));

      window.addEventListener("touchend", () => (button.style.opacity = 1));
    }
  },

  computed: {
    showButton() {
      if (this.$store.getters.isAuth && this.$route.name === "Timeline") {
        return true;
      }

      return false;
    }
  }
};
</script>


<style scoped lang="less">
.button {
  position: fixed;
  grid-column: 3;
  width: 65px;
  height: 65px;
  border-radius: 3px;
  background: @mainBlue;
  justify-self: end;
  align-self: flex-end;
  right: 25px;
  bottom: 25px;
  opacity: 1;
  transition: 0.2s;

  font-size: 42px;
  line-height: 50px;
  font-weight: bold;
  color: @white;
  font-family: "Rubik";

  @media (max-width: @tablet) {
    position: fixed;
    right: 25px;
    bottom: 10px;
    margin: 0;
  }

  &:focus {
    .focus;
  }
}

.buttonFade-enter,
.buttonFade-enter-active {
  animation: fadeIn 0.2s ease-in-out;
}
.buttonFade-leave,
.buttonFade-leave-active {
  animation: buttonFadeOut 0.2s ease-in-out;
}
</style>