<template lang="pug">
transition(name="fadeMenu")
  aside(v-if="showMenu")
      div(ref="menu" class="menu")
        button(
          tabindex="0"
          v-for="(month, i) in months"
          @click="changeMonth(month)"
          :class="month === months[currentMonth] ? 'button button--current' : 'button' ") {{ month }}
</template>

<script>
export default {
  props: {
    showMenu: Boolean,
    currentMonth: Number,
    months: Array
  },

  computed: {
    displayedYear() {
      return this.$store.getters.date.year;
    }
  },

  methods: {
    changeMonth(month) {
      this.$emit("changeMonth", {
        month: this.months.indexOf(month) + 1,
        year: this.displayedYear
      });
    }
  }
};
</script>

<style lang="less" scoped>
aside {
  position: absolute;
  top: 45px;
  right: 0;
  grid-column-start: 3;
  width: 315px;
  z-index: 5;

  @media (max-width: @phone) {
    width: 100vw;
    left: -2.5vw;
    top: 50px;
  }
}

.menu {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 45px);
  width: 100%;
  padding: 20px;
  background: #ffffff;
  border-radius: 3px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);

  @media (max-width: @phone) {
    border-radius: 0;
  }
}

.button {
  border-radius: 10px;

  &:hover {
    background: #f8f8f8;
  }

  &:focus {
    .focus;
  }

  &--current {
    background: @mainBlue;
    color: #ffffff;

    &:hover {
      background: fade(@mainBlue, 85%);
    }
  }
}

.fadeMenu-enter,
.fadeMenu-enter-active {
  animation: scaleMenuIn 0.1s linear;
}

.fadeMenu-leave,
.fadeMenu-leave-active {
  animation: scaleMenuOut 0.1s linear;
}

@media (max-width: @phone) {
  .fadeMenu-enter,
  .fadeMenu-enter-active {
    animation: fadeIn 0.1s linear;
  }

  .fadeMenu-leave,
  .fadeMenu-leave-active {
    animation: fadeOut 0.1s linear;
  }
}
</style>
