<template lang="pug">
  div.user-area

    div(class="container" v-if="!isAuth" key="isntAuth" )
      router-link(to="/auth/signin" v-anim-click class="button") Sign In
      router-link(to="/auth/signup" v-anim-click class="button transparrent") Sign up

    div(class="container" v-else key="isAuth" )
      span(class="avatar" aria-hidden="true") {{ displayedName.charAt(0) }}
      p.name {{ displayedName }}
      button(@click="$store.dispatch('SIGN_OUT')" class="button red") Sign Out
</template>


<script>
export default {
  computed: {
    isAuth() {
      return this.$store.getters.isAuth;
    },

    displayedName() {
      if (this.$store.getters.name) {
        return this.$store.getters.name;
      }

      return this.$store.getters.email;
    }
  }
};
</script>


<style lang="less" scoped>
.user-area {
  display: flex;
  margin-left: auto;
}

.container {
  display: flex;
  align-items: center;
}

.name {
  color: @white;
  font-size: 18px;
  text-transform: capitalize;

  @media (max-width: @phone) {
    display: none;
  }
}

.avatar {
  display: inline-block;
  margin-right: 20px;
  width: 25px;
  height: 25px;
  background: @white;
  border-radius: 3px;
  color: @mainBlue;
  text-align: center;
  font-size: 18px;
  line-height: 25px;
  text-transform: uppercase;

  @media (max-width: 345px) {
    margin-right: 8px;
  }
}

.button {
  margin: 0 15px;
  padding: 6px 10px;
  border-radius: 3px;
  background: linear-gradient(270deg, #61bd4f 0%, #5aac44 100%);
  font-size: 15px;
  color: #fff;

  &:focus {
    .focus;
  }

  &:last-child {
    margin-right: 0;
  }

  &:first-child {
    margin-left: 0;
  }

  @media (max-width: @phone) {
    &:last-child {
      margin-left: 0;
    }
  }
}

.transparent {
  background: rgba(170, 170, 170, 0.3);
}

.red {
  background: hsla(0, 99%, 68%, 0.95);

  &:hover {
    background: hsla(0, 99%, 68%, 1);
  }
}
</style>
