<template lang="pug">
  header.budget-timeline-head
    h2.title Income
    p.value {{ incomeSum }}
    h2.title Expenses
    p.value {{ expensesSum * -1}}
    h2.title Balance
    p.value {{ incomeSum - expensesSum}}
</template>

<script>
export default {
  props: { data: Object },

  data() {
    return {
      incomeSum: 0,
      expensesSum: 0
    };
  },

  computed: {
    displayedDate() {
      return this.$store.getters.date;
    }
  },

  methods: {
    sum(object, type) {
      let sum = 0;
      for (const key in object) {
        if (object.hasOwnProperty(key)) {
          let operationsLenght = object[key].length;

          for (let i = 0; i < operationsLenght; i++) {
            let operationType = object[key][i].type;

            if (operationType === type) {
              sum += parseInt(object[key][i].value);
            }
          }
        }
      }

      return sum;
    }
  },

  watch: {
    displayedDate() {
      this.expensesSum = this.sum(this.data, "expenses");
      this.incomeSum = this.sum(this.data, "income");
    }
  },

  created() {
    this.expensesSum = this.sum(this.data, "expenses");
    this.incomeSum = this.sum(this.data, "income");
  }
};
</script>

<style lang="less" scoped>
.budget-timeline-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-auto-flow: column;
  grid-row-gap: 25px;
  width: 100%;
  padding: 40px 0;
  background: #f3f4f5;
  border-radius: 3px;
  text-align: center;
  color: @darkBlueText;
}

.title {
  font-size: 38px;

  @media (max-width: @bigPhone) {
    font-size: 21px;
  }

  @media (max-width: @phone) {
    font-size: 18px;
  }
}

.value {
  font-size: 32px;
  font-weight: bold;

  @media (max-width: @bigPhone) {
    font-size: 28px;
  }

  @media (max-width: @phone) {
    font-size: 21px;
  }
}
</style>
