<template lang="pug">
div(class="block" v-if="currentData")
    h3.title
        span.date {{ getHumanDate() }}
        span(class="value" v-if="expensesSum") Expenses {{ expensesSum }}
        span(class="value" v-if="incomeSum") Income {{ incomeSum }}

    ul(class="list" v-if="currentData")
      li(v-for="(operation, i) in currentData" :key="i")
        router-link(class="list-item" :to="`transaction/${date}/${operation.id}/${operation.type}/${operation.category}/${operation.value}`")
          div(class="icon" :style="{backgroundImage: getImagePath(operation.category)}")
          span {{ operation.category }}
          span.list-item-value {{ operation.type.toLowerCase() === 'income' ? operation.value : operation.value * - 1 }}
</template>

<script>
export default {
  props: {
    date: String,
    currentData: Array
  },

  data() {
    return {
      expensesSum: 0,
      incomeSum: 0
    };
  },

  methods: {
    sum(array, type) {
      let sum = 0;

      let operationsLenght = array.length;

      for (let i = 0; i < operationsLenght; i++) {
        let operationType = array[i].type;

        if (operationType === type) {
          sum += parseInt(array[i].value);
        }
      }

      return sum;
    },

    getImagePath(image) {
      const pathToImage = require(`../assets/images/icons/${image}.svg`);

      return `url(${pathToImage})`;
    },

    getHumanDate() {
      let date = new Date(Date.parse(this.date)),
        weekDays = [
          "Sunday",
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday",
          "Saturday"
        ];

      return `${date.getDate()} / ${date.getMonth() + 1} ${
        weekDays[date.getDay()]
      }`;
    }
  },

  created() {
    this.expensesSum = this.sum(this.currentData, "expenses");
    this.incomeSum = this.sum(this.currentData, "income");
  }
};
</script>

<style scoped lang="less">
.block {
  margin-top: 25px;
  border-radius: 3px;
  background: #f3f4f5;
  padding: 30px 0;
}

.title {
  padding: 0 20px;
  display: flex;
  font-weight: normal;
  padding-bottom: 15px;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.05);
  transition: 0.4s;

  span:nth-of-type(2) {
    margin-left: auto;
  }

  span:nth-of-type(3) {
    margin-left: 15px;
  }

  .date {
    font-size: 16px;
    color: hsla(0, 0%, 0%, 0.6);
    font-weight: 600;

    @media (max-width: @phone) {
      font-size: 15px;
    }

    @media (max-width: @smallPhone) {
      font-size: 14px;
    }

    @media (max-width: @extraSmallPhone) {
      font-size: 12px;
    }
  }

  .value {
    font-size: 18px;
    font-weight: 600;
    color: hsla(0, 0%, 0%, 0.6);

    @media (max-width: @smallPhone) {
      font-size: 16px;
    }

    @media (max-width: @extraSmallPhone) {
      font-size: 15px;
    }
  }
}

.list {
  display: flex;
  flex-direction: column-reverse;
}

.list-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  color: @textColor;
  padding: 0 25px;

  &:hover {
    background: #ebebeb;
  }

  span {
    font-size: 21px;
    font-weight: bold;
    color: @darkBlueText;
  }

  &:not(:last-of-type) {
    padding-bottom: 15px;
  }

  &-value {
    font-size: 18px;
    margin-left: auto;

    @media (max-width: @smallPhone) {
      font-size: 16px;
    }
  }
}

.icon {
  width: 50px;
  height: 50px;
  background-size: 100%;
  margin: 15px 15px 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: @smallPhone) {
    font-size: 18px;
  }
}
</style>