@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes scaleMenuIn {
  from {
    top: 30px;
    transform: scale(0.95);
    opacity: 0;
  }

  to {
    top: 45px;
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleMenuOut {
  from {
    top: 45px;
    transform: scale(1);
    opacity: 1;
  }

  to {
    top: 30px;
    transform: scale(0.95);
    opacity: 0;
  }
}
