//Palette
@textColor: #333333;
@darkBlueText: #17394d;
@mainBlue: #026aa7;
@white: hsl(0, 0%, 100%);
@errorColor: hsl(5, 82%, 49%);

//MediaQuery
@computer: 1200px;
@tablet: 992px;
@bigPhone: 768px;
@phone: 586px;
@smallPhone: 430px;
@extraSmallPhone: 380px;
