<template lang="pug">
  section(id="app" class="app")
    app-header

    app-plus-button

    transition(name="routeFade")
      router-view(:isDataGot="isDataGot")
</template>

<script>
export default {
  computed: {
    isAuth() {
      return this.$store.getters.isAuth;
    },

    isDataGot() {
      return this.$store.getters.isLoaded;
    }
  },

  components: {
    AppHeader: () => import("@/components/AppHeader.vue"),
    AppPlusButton: () => import("@/components/AppPlusButton.vue")
  },

  methods: {
    getData() {
      this.$store.commit("SET_DATE", {
        month: new Date().getMonth() + 1,
        year: new Date().getFullYear()
      });

      this.$store.dispatch("UPDATE_DATA");
    }
  },

  watch: {
    //Fetch data on user sign in
    isAuth(authState) {
      if (authState) {
        this.getData();
      }
    }
  },

  mounted() {
    if (this.isAuth) {
      this.getData();
    }
  }
};
</script>

<style lang="less">
@import "./assets/less/Reset.less";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.app {
  position: relative;
  display: grid;
  min-height: 100vh;
  transition: background-color 0.2s;
  padding-bottom: 25px;
  grid-template-columns: 1fr 550px 1fr;
  grid-template-rows: 50px 1fr;

  @media (min-width: 1400px) {
    grid-template-columns: 1fr 45vw 1fr;
  }

  @media (max-width: @computer) {
    grid-template-columns: 1fr 60vw 1fr;
  }

  @media (max-width: @tablet) {
    grid-template-columns: 1fr;
  }

  @media (max-width: @smallPhone) {
    padding-bottom: 40px;
  }
}

.routeFade-enter,
.routeFade-enter-active {
  animation: fadeIn 0.2s ease-in-out;
}
.routeFade-leave,
.routeFade-leave-active {
  animation: fadeOut 0.2s ease-in-out;
}
</style>
